<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EditBlog</title>
  </head>
  <body>
    <form method="POST" action="/blogs/edit-blog/<%= blog.id%>" enctype="multipart/form-data">
      <input type="hidden" name="id" value="<%= blog.id%>"
      <label for="title">Title</label>
      <input type="text" name="title" value="<%=blog.title%>" required />
      <%= possibleErrors.title %>
      <label for="description">Description</label>
      <textarea
        name="description"
        
        required
      ><%=blog.description%></textarea>
      <%= possibleErrors.description %>
      <label for="imageUrl">ImageUrl</label>
      <input type="file" name="imageUrl" accept="image/*" required />
      <input type="submit" value="SAVE" />
    </form>
  </body>
</html>
